{% extends "layout.njk" %}

{% block content %}
  <section class="jumbotron">
    <div class="description">
      <h3>As melhores receitas</h3>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas 
        por profissionais do mundo inteiro.
      </p>
    </div>
    <img src="images/chef.png" alt="">
  </section>

  <h4>Mais acessadas</h4>
  <div class="cards">
    <div class="card">
      <img src="images/burger.png" alt="Recipe">
      <h6>Triplo bacon burger</h6>
      <p>por Jorge Relato</p>
    </div>
    <div class="card">
      <img src="images/pizza.png" alt="Recipe">
      <h6>Pizza 4 estações</h6>
      <p>por Fabiana Melo</p>
    </div>
    <div class="card">
      <img src="images/espaguete.png" alt="Recipe">
      <h6>Espaguete ao alho</h6>
      <p>por Júlia Kinoto</p>
    </div>
    <div class="card">
      <img src="images/doce.png" alt="Recipe">
      <h6>Docinhos pão-do-céu</h6>
      <p>por Ricardo Golvea</p>
    </div>
    <div class="card">
      <img src="images/lasanha.png" alt="Recipe">
      <h6>Lasanha mac n’ cheese</h6>
      <p>por Juliano Vieira</p>
    </div>
    <div class="card">
      <img src="images/asinhas.png" alt="Recipe">
      <h6>Asinhas de frango ao barbecue</h6>
      <p>por Vania Steroski</p>
    </div>
  </div>
{% endblock %}}
  

  