{% extends "layout.njk" %}

{% block header %}
  <header>
    <h3 id="text-logo"><a href="/">Foodfy</a></h3>
    <nav>
      <a href="about" class="" >Sobre</a>
      <a href="recipes" class="active" >Receitas</a>
    </nav>
  </header> 
{% endblock %}
  
{% block content %}
  <div class="cards"> 
    {% for recipe in items %}
      <div class="card" id="{{recipe.title}}">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        <h6>{{recipe.title}}</h6>
        <p>por {{recipe.author}}</p>
      </div>
    {% endfor %}     
  </div>
  <script src="scripts.js"></script>
{% endblock %}
  

  {# <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="/images/espaguete.png" alt="Recipe">
        <h6>Espaguete ao alho</h6>
        <p>por Júlia Kinoto</p>
        <span class="close">Fechar</span>
      </div>
     
    </div>
  </div> #}

  {#  #}
