:root{
  --text-title: #111111;
  --text-secondary: #777777;
  --text-p: #444444;
  --text-options: #999999;
  --background-jb: #FBDFDB;
  --background-footer: #EEEEEE;
}

/*=== Reset ===*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--text-p);
  font-size: 1rem;
}

h2{
  font-size: 2rem;
  color: var(--text-title);
}

h3,h4,h5{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--text-title);
}

h4, h5{
  margin-bottom: 1.12rem;
}
h6{
  font-size: 1.12rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--text-title);
}

.page{
  width: 80vw;
  margin: 0 auto;
}

header{
  display: flex;
  flex-direction: row;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem;
}

#text-logo{
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

header nav{
  margin-left: 6rem;
  display: inline;
}

nav a{
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--text-p);
  padding: 0 15px;

}

a:hover{
  transition: color 2s;
  color: var(--text-options);
}

.active{
  transition: color 2s;
  color: var(--text-title);
  font-weight: 700;
}

p{
  font-size: 1.12rem;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
  text-justify: auto;
}

/*===JUMBOTRON===*/
.jumbotron{
  background-color: var(--background-jb);
  border-radius: 1.87rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 2.5rem 3.75rem 0px 3.75rem;
  margin-bottom: 3rem;
}

.jumbotron img{
  padding: 2.5rem;
}

.description{
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.6rem;
  width: 41%;
}

.description h3{
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0.6rem;
}

.cards{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem
}

.card img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card p{
  color: var(--text-secondary);
  font-size: 0.88rem;
  margin-bottom: 0.6rem;
}

footer{
  bottom: 0;
  margin-top: 2.5rem;
  padding: 1.25rem;

  text-align: center;
  color: var(--text-options);
  background-color: var(--background-footer);
}

/*=== DETAILS ===*/
.image{
  text-align: center;
  color: var(--text-secondary);
}

.image img{
  border-radius: 15px;
  margin-bottom: 40px;
}

.section-detail{
  margin-top: 40px;
}

.section-detail h5 span{
  font-size: 0.75rem;
  color: var(--text-options);
}

.ingredients ul, .preparation ul{
  margin-left: 1rem;
  font-size: 1.12rem;
  line-height: 1.8;
}

.toogle{
  visibility: collapse;
 display: none;
}










